/* App.css */
.App {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: black;
  border-radius: 30px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

/* App.css */

.block {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  overflow: hidden; 
  word-wrap: break-word;
}

.picture-block {
  height: 85px; /* Fixed height for picture block */
}


.text-input {
  width: calc(100% - 10px);
  height: 80px;
  resize: vertical;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.blocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.remove-btn {
  margin-bottom: 10px;
}

.center-block {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .block {
    width: 325px;
  }
}
@media screen and (max-width: 440px) {
  .block {
    width:360px;
  }
}
@media screen and (max-width: 380px) {
  .block {
    width:310px;
  }
}
@media screen and (max-width: 330px) {
  .block {
    width:260px;
  }
}

.picture-input {
  display: none;
}

.picture-preview {
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 3px;
}



:where(.css-dev-only-do-not-override-42nv3w).ant-btn-primary.ant-btn-dangerous:not(:disabled):not(.ant-btn-disabled):hover {
  background: #ff7875;
  
}
